* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gameplay {
  width: 80%;
  height: 520px;
  border: 2px solid #ccc;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.sonic {
  bottom: 110px;
  position: absolute;
  width: 150px;
}

.jump {
  animation: 1s sonic_animation infinite ease-out;
}

.eggman {
  width: 250px;
  position: absolute;
  bottom: 110px;
  right: 0;
  animation: 2s eggman_animation infinite linear;
}

.fundo {
  width: 100%;
  height: 100%;
}

@keyframes eggman_animation {
  0% {
    right: -250px;
  }
  100% {
    right: 100%;
  }
}

@keyframes sonic_animation {
  0% {
    bottom: 110px;
  }
  25% {
    bottom: 250px;
  }
  75% {
    bottom: 250px;
  }
  100% {
    bottom: 110px;
  }
}
